---
layout: default
title: Home
---
{% for post in site.categories["featured"] %}
<article>
    <header>
        <div class="preview-image" style="background-image: url({{ post.image }});">
        </div>
    </header>
    <section>
        <div>
            <h1>{{ post.title }}</h1>
            {% if post.content contains '<!--excerpt.start-->' and post.content contains '<!--excerpt.end-->' %}
                {{ ((post.content | split:'<!--excerpt.start-->' | last) | split: '<!--excerpt.end-->' | first) }}
            {% else %}
                {{ post.content | strip_html | truncatewords: 20 }}
            {% endif %}
        </div>
        <div class="split"></div>
        <div>
            {% for link in post.links %}
            <a class="project-link {{link.color}}" href="{{ link.url }}">{{ link.name }}</a>
            {%endfor%}
        </div>
    </section>
</article>
{% endfor %}
<!--<article>
    <header>
        <div class="fullscreen-image" style="background-image: url(/assets/images/planet_defense_thumbnail.jpg);">
        </div>
    </header>
    <section>
        <h1>Planet Deffense</h1>
        <p>
            Planet Defense is a tower defense game in which the player places 
            his or her towers on the surface of a planet. The planet's surface 
            is divided into fragments. In the battle phase, asteroids are 
            flying from all directions towards the planet. The towers attack 
            the asteroids. Every destroyed asteroid yields points. If a tower 
            gets hit by an asteroid the tower gets destroyed. If a fragment of 
            the planet gets hit it takes damage. If fragment gets hit 3 times 
            it gets destroyed revealing the core of the planet. If the core 
            gets hit the game is over. 
        </p>
        <p>
            The game gets developed as part of the bachelor module game 
            development and creative coding. The team consists of 3 people. 
            Sadly one of the members had to leave due to time constraints. 
        </p>
    </section>
    <footer>
        <a class="learn-more">Learn More</a>
    </footer>
</article>
<article>
    <header>
        <div class="fullscreen-image" style="background-image: url(/assets/images/sphere_audio_visualizer_thumbnail.jpg);">
        </div>
    </header>
    <section>
        <h1>Sphere Audio Visualizer</h1>
        <p>
            The Sphere Audio Visualizer Project is a series of renderes useing 
            different Technics to Render The above show scene as fast as 
            possible.
            Technics and technologies used in this project are: Raytraceing, 
            PBR, OpenGL, realtime rendering, distance field ambient occlusion
        </p>
    </section>
    <footer>
        <a class="learn-more">Learn More</a>
    </footer>
</article>
<article>
    <header>
        <div class="fullscreen-image" style="background-image: url(/assets/images/dungeon_thumbnail.jpg);">
        </div>
    </header>
    <section>
        <h1>Sphere Audio Visualizer</h1>
        <p>
            Sphere Audio Visualizer is a Renderer 
        </p>
    </section>
    <footer>
        <a class="learn-more">Learn More</a>
    </footer>
</article>-->